.user-item div {
  display: flex;
  margin: 1rem 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item-card {
  background-color: lightgray;
}

.user-name {
  font-size: large;
  font-weight: bold;
}

.user-age {
  font-style: italic;
}